<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--日志路径 -->
    <property name="logback.logs.path" value="./logs"/>
    <!--项目名 -->
    <property name="logback.project.name" value="robot"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <!--
                日志输出格式：%d表示日期时间，%thread表示线程名，%-5level：级别从左显示5个字符宽度
                %logger{50} 表示logger名字最长50个字符，否则按照句点分割。 %msg：日志消息，%n是换行符
                -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%relative] [%thread] %-5p %c[%L] - %msg%n</pattern>
            </layout>
            <charset class="java.nio.charset.Charset">UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- 每天生成一个文件 -->
    <appender name="FILE_DAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Log文件名 -->
        <file>${logback.logs.path}/${logback.project.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logs.path}/${logback.project.name}-%d.log
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%relative] [%thread] %-5p %c[%L] - %msg%n</pattern>
            </layout>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志收集 -->
    <appender name="collect-appender" class="com.wmh.robotframework.log.CollectAppender"/>

    <logger name="collect-logger" additivity="true">
        <appender-ref ref="collect-appender"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_DAY"/>
    </root>
</configuration>